<div >


    <div class="product-area" ng-controller="productsListController">
        <div class="product-row">

            <div class="product-col" ng-repeat="product in products.list"  data-total-items="products.totalResults"
                 data-current-page="products.currentPage" data-items-per-page="products.pageSize"
                 data-boundary-links="true">


                    <div class="product-image">
                        <img ng-src="{{product.imageUrl}}"/>
                    </div>
                    <div class="product-info">
                        <div class="product-name" >
                            {{product.name}}
                        </div>
                        <div class="product-description">
                            {{product.description}}
                        </div>
                        <div class="product-price">
                            R$ {{product.price}}
                        </div>
                    </div>
                    <div>
                        <label>
                            Quantidade:
                            <input type="number"  ng-init="product.quantity=1" name="input" ng-model="product.quantity"
                                   min="0" max="999" required value="1">
                        </label>

                    </div>
                    <button type="button" class="btn btn-primary" ng-click="addProductCart(product)">
                        <span class="glyphicon glyphicon-shopping-cart"></span> Add Cart
                    </button>

            </div>
        </div>
        <ul uib-pagination direction-links="true" boundary-links="true"
                    total-items="products.totalResults" items-per-page="products.pageSize"
                    ng-model="products.currentPage" ng-change="refreshGrid()">
        </ul>

    </div>
</div>