
body {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 90%;
}

h3 {
    margin: 10px 0 20px;
    text-align: left;
}

.message {
    margin-left: 5%;
    margin-right: 5%;
}

.grid {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.grid .remove {
    color: #a94442;
    height: 20px;
    margin-top: 8px;
    width: 20px;
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    height: 335px;
}

.form {
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    text-align: left;
    width: 100%;
}

.form label {
    margin-top: 10px;
}

.form input {
    float: left;
}

.form .form-group span {
    color: #5cb85c;
    float: left;
    height: 20px;
    margin-left: 0;
    margin-top: 0;
}

.form .form-group p {
    color: #a94442;
    margin-left: 0;
    margin-top: 20px;
}

.form .avatar {
    margin-top: 50px;
    text-align: center;
}

.form .buttons {
    clear: both;
    float: right;
    margin-right: 25px;
    margin-top: 10px;
}

.product-area {
    border: 1px solid #eaeaea;
    border-spacing: 5px;
    display: table;
    width: 100%;
}

.product-row {
    display: table-row;
    max-width: 100%;
}

.product-col {
    display: table-column;
    float: left;
    margin: 20px;
}

.product-info {
    display: inline-block;
}

.product-image {
    height: 150px;
    width: 150px;
}

.product-image img {
    max-height: 100%;
    max-width: 100%;
}

.confirm-sales {
    margin-bottom: 50px;
    margin-top: 30px;
}

.product-info {
    font-weight: bold;
}

.product-name {
    font-size: 20px;
}

.product-price {
    font-size: 30px;
}
