
<div class="form" ng-controller="productsFormController">

    <div ng-if="product.idProduct == null">
        <h3>Adicionar Produtos</h3>
    </div>

    <div ng-if="product.idProduct != null">
        <h3>Editar Produto</h3>
    </div>

    <div>

        <form name="productForm" ng-submit="updateProduct()" novalidate>


            <div class="form-group" ng-class="{'has-error' : productForm.name.$invalid && productForm.name.$dirty}">
                <label for="name">Nome:</label>

                <span ng-class="{'glyphicon glyphicon-ok' : productForm.name.$valid && productForm.name.$dirty}"></span>

                <input id="name" name="name" type="text" class="form-control" maxlength="50"
                       ng-model="product.name"
                       required ng-minlength="2" ng-maxlength="50"/>


                <p class="help-block" ng-show="productForm.name.$error.required">Adicionar Nome.</p>
                <p class="help-block" ng-show="productForm.name.$error.minlength">Nome deve ter pelo menos 2 caracteres.</p>
                <p class="help-block" ng-show="productForm.name.$error.maxlength">Nome deve ter no maximo 50 caracteres.</p>
            </div>


            <div class="form-group" ng-class="{'has-error' : productForm.name.$invalid && productForm.name.$dirty}">
                <label for="name">Description:</label>

                <span ng-class="{'glyphicon glyphicon-ok' : productForm.name.$valid && productForm.name.$dirty}"></span>

                <input id="description" name="description" type="text" class="form-control" maxlength="100"
                       ng-model="product.description"
                       required ng-minlength="5" ng-maxlength="100"/>


                <p class="help-block" ng-show="productForm.name.$error.required">Adicionar Descrição.</p>
                <p class="help-block" ng-show="productForm.name.$error.minlength">Descrição deve ter pelo menos 5 caracteres.</p>
                <p class="help-block" ng-show="productForm.name.$error.maxlength">Descrição deve ter no maximo 100 caracteres.</p>
            </div>



            <div class="form-group" ng-class="{'has-error' : productForm.price.$invalid}">
                <label for="price">Preço:</label>

                <span ng-class="{'glyphicon glyphicon-ok' : productForm.price.$valid && productForm.price.$dirty}"></span>

                <input id="price" name="price" type="number" class="form-control"
                       ng-model="product.price"
                       required ng-minlength="1" ng-maxlength="10"/>


                <p class="help-block" ng-show="productForm.price.$error.required">Adicionar Preço.</p>
                <p class="help-block" ng-show="productForm.price.$error.minlength">Preço deve ter no minimo 1 digito.</p>
                <p class="help-block" ng-show="productForm.price.$error.maxlength">Preço deve ter no maximo 10 digitos.</p>
            </div>


            <div class="form-group" ng-class="{'has-error' : productForm.imageUrl.$invalid && productForm.imageUrl.$dirty}">
                <label for="imageUrl">Image URL:</label>

                <span ng-class="{'glyphicon glyphicon-ok' : productForm.imageUrl.$valid && productForm.imageUrl.$dirty}"></span>

                <input id="imageUrl" name="imageUrl" type="url" class="form-control" maxlength="500"
                       ng-model="product.imageUrl"
                       required/>


                <p class="help-block" ng-show="productForm.imageUrl.$error.required">Adicionar URL da Imagem.</p>
                <p class="help-block" ng-show="productForm.imageUrl.$invalid && productForm.imageUrl.$dirty">URL da Image invalido.</p>
            </div>

            <div class="avatar" ng-if="product.imageUrl">
                <img ng-src="{{product.imageUrl}}" width="400" height="250"/>
            </div>


            <div class="buttons">
                <button type="button" class="btn btn-primary" ng-click="clearForm()">Limpar</button>
                <button type="submit" class="btn btn-primary" ng-disabled="productForm.$invalid">Salvar</button>
            </div>
        </form>
    </div>
</div>