
<div class="grid" ng-controller="productsListController">
    <div>
        <h3>Lista de Produtos</h3>
    </div>

    <div class="gridStyle" ng-grid="gridOptions" data-total-items="products.totalResults"
         data-current-page="products.currentPage" data-items-per-page="products.pageSize"
         data-boundary-links="true">

    </div>

    <ul uib-pagination direction-links="true" boundary-links="true"
                total-items="products.totalResults" items-per-page="products.pageSize"
                ng-model="products.currentPage" ng-change="refreshGrid()">
    </ul>
</div>