

    <div ng-controller="TabsProducts">

        <!-- Specify a Angular controller script that binds Javascript variables to the feedback messages.-->




        <uib-tabset active="active">
            <!-- include in product register form -->
            <uib-tab index="0" heading="Product Register" >
                <div ng-include="'view/product/productForm.html'"></div>
            </uib-tab>
            <!-- include in product register form List -->
            <uib-tab index="1" heading="Product List" >
                <div ng-include="'view/product/productList.html'"></div>
            </uib-tab>
        </uib-tabset>


    </div>



