<div class="grid" ng-controller="productsCartListController">
    <div>
        <h3>Carrinho de Compras</h3>
    </div>

    <div ng-if="productsCart == null && productsCart.list">
        Nenhum produto no carrinho de compras
    </div>
    <div ng-if="productsCart != null && productsCart.list != null && productsCart.list.length > 0">
        <div class="gridStyle" ng-grid="gridOptions" data-total-items="productsCart.totalResults"
             data-current-page="productsCart.currentPage" data-items-per-page="productsCart.pageSize"
             data-boundary-links="true">
        </div>



        <ul uib-pagination direction-links="true" boundary-links="true"
            total-items="productsCart.totalResults" items-per-page="productsCart.pageSize"
            ng-model="productsCart.currentPage" ng-change="refreshGrid()">
        </ul>
        <form name="productsCartForm" ng-submit="confirmSale()" >
            <div class="confirm-sales">
                <label>Informe o seu Email:
                    <input id="email" name="email" type="email" ng-model="productsCart.email" required/>
                </label>

                <button type="submit" class="btn btn-primary" ng-disabled="productsCartForm.$invalid" ng-click="">
                    <span class="glyphicon glyphicon-shopping-cart"></span> Confirmar Compra
                </button>
            </div>
        </form>
    </div>
</div>