<!DOCTYPE html>
<!-- Declares the root element that allows behaviour to be modified through Angular custom HTML tags. -->
<html ng-app="Syssales">
<head>
    <title>Sys Sales</title>

    <!-- build:css css/third-party.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="lib/bower/bootstrap-css-only/css/bootstrap.css"/>
    <link rel="stylesheet" href="lib/bower/angular-grid/ng-grid.css"/>

    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css css/application.css -->
    <link rel="stylesheet" type="text/css" href="css/style.css"/>
    <!-- endbuild -->

    <!-- build:js lib/third-party.js -->
    <!-- bower:js -->
    <script src="lib/bower/angular/angular.js"></script>
    <script src="lib/bower/angular-resource/angular-resource.js"></script>
    <script src="lib/bower/angular-animate/angular-animate.js"></script>
    <script src="lib/bower/angular-route/angular-route.js"></script>
    <script src="lib/bower/angular-ui-router/release/angular-ui-router.js"></script>

    <script src="lib/bower/jquery/dist/jquery.js"></script>
    <script src="lib/bower/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="lib/bower/angular-grid/build/ng-grid.js"></script>



    <!-- endbower -->
    <!-- endbuild -->



    <nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Sys Sales</a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li><a href="#/"><i class="fa fa-home"></i>Home</a></li>
                <li><a href="#cart"><i class="fa fa-shield"></i>Cart</a></li>
                <li><a href="#product"><i class="fa fa-shield"></i>Product</a></li>
            </ul>
        </div>
    </nav>


    <!-- endbuild -->
</head>

<body ng-controller="mainController">

<div class="message" ng-controller="alertMessagesController">
    <div uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
</div>

<!-- MAIN CONTENT AND INJECTED VIEWS -->
<div id="main">

    <div ng-view></div>

</div>

<script src="view/index.js"></script>
<script src="view/product/product.js"></script>
<script src="view/cart/cart.js"></script>

</body>
</html>
